---
layout: default
nav-order: 1
title: Overview
class: overview

banner-title: Italy
banner-content:

intro-short: >
  Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
intro: >
  <p class="p--lead">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur.</p>

---


{% include title-banner.html %}

{% include microsite-nav.html %}


{% if page.intro  %}
<section class="section">
  <div class="row row--padding">
    <div class="row align-center">
      {{ page.intro }}
    </div>
  </div>
</section>
{% endif %}


<!-- CATEGORY PAGES -->
<section class="section section--padding-none clearfix decoration__trigger">
  <div class="row--columns-6-6 align-center invert-text">

    {% assign category-pages = site.pages | where: "layout", "category" %}
    {% for category-page in category-pages %}

    <a href="{{ category-page.url }}" class="row__column bg-image bg-image--ratio-3-2 invert-text" style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ category-page.class }}.jpg');">
      <div class="bg-image__content">

        <div class="category-link">
          <h3 class="title title--sub title--small title--upper title--margin-none">{{ category-page.title }}</h3>
          {% include decorations/hr.html class="animated-hr" %}
          <span class="btn btn--invert">See More {{ category-page.title }}</span>
        </div>

      </div>
      <div class="bg-image__overlay"></div>
    </a>

    {% endfor %}
  </div>
</section>


<!-- OFFERS - ONLY 2 -->
<section class="section bg--light-grey decoration__trigger">
  <div class="row row--padding">
    <h2 class="align-center title title--medium title--color title--expanded title--light title--upper">Offers</h2>
    {% include decorations/hr.html class="animated-hr" color="rgba(0,0,0,0.4)" %}
  </div>
  <div class="row row--padding">
    {% assign offers = site.data.offers | sort: 'price' %}
    {% for offer in offers limit: 2 %}
      {% include offer.html %}
    {% endfor %}
  </div>
  <div class="align-center">
    <a href="{{site.baseurl}}/offers" class="btn btn--orange">See All Offers</a>
  </div>
</section>