---
layout: default
nav-order: 1
title: Overview
class: overview

banner-title: Italy
banner-content:

intro-short: >
  A poetic landscape that has left scores of visitors spellbound, Italy is a magnificent concoction of renowned art, culture, food and drink, and breathtaking beauty.
intro: >
  <p class="p--lead">A poetic landscape that has left scores of visitors spellbound, Italy is a magnificent concoction of renowned art, culture, food and drink, and breathtaking beauty.  </p>
  <p>Explore the cities and landscapes in our guide, to illuminate your travels through this diverse destination. With our hidden gem guides to four of Italy’s best cities, you’ll be taken off the traditional tourist trail to really uncover the unique character of each. With top tips for nearby destinations, you can find some true local’s haunts, each within reasonable distance of the cities.</p>
  <p>If you long for a more rural break, packed with the enticing charms of the Italian countryside and coast, you’ll find guides to ensure you don’t miss a thing. With a few hidden gems dotted around in each, no stay in Italy need be touristy – instead, discover only the finest destinations offering the best regional produce and character.</p>

---


{% include title-banner.html %}

{% include microsite-nav.html %}


{% if page.intro  %}
<section class="section">
  <div class="row row--padding">
    <div class="row align-center">
      {{ page.intro }}
    </div>
  </div>
</section>
{% endif %}


<!-- CATEGORY PAGES -->
<section class="section section--padding-none clearfix decoration__trigger">
  <div class="row--columns-6-6 align-center invert-text">

    {% assign category-pages = site.pages | where: "layout", "category" %}
    {% for category-page in category-pages %}

    <a id="title_link-category-{{ category-page.class }}" href="{{ site.baseurl }}{{ category-page.url }}" class="row__column bg-image bg-image--ratio-3-2 invert-text" style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ category-page.class }}.jpg');">
      <div class="bg-image__content">

        <div class="category-link">
          <h3 class="title title--sub title--small title--upper title--margin-none">{{ category-page.title }}</h3>
          {% include decorations/hr.html class="animated-hr" %}
          <span class="btn btn--invert">See More {{ category-page.title }}</span>
        </div>

      </div>
    </a>

    {% endfor %}
  </div>
</section>


<!-- OFFERS - ONLY 2 -->
<section class="section bg--light-grey">
  <div class="row row--padding">
    <h2 class="align-center title title--medium title--color title--expanded title--light title--upper">Offers</h2>
  </div>
  <div class="row row--padding">
    {% assign offers = site.data.offers | sort: 'saved' | reverse %}
    {% for offer in offers limit: 2 %}
      {% include offer.html %}
    {% endfor %}
  </div>
  <div class="align-center">
    <a href="{{ site.baseurl }}/offers" class="btn btn--orange">See All Offers</a>
  </div>
</section>