<span class="decoration {{ include.class }}">
  <span class="gems-badge__text title title--expanded title--upper title--margin-none">
    Hidden Gem Guide
  </span>
  <svg version="1.1" viewBox="0 0 278.4 278.4">
    <g
      stroke="{% if include.color %}{{ include.color }}{% else %}#fff{% endif %}"
      stroke-width="{% if include.stroke %}{{ include.stroke }}{% else %}1{% endif %}"
      fill="none">

			<rect x="43.1" y="41.3" transform="matrix(1 -8.699798e-03 8.699798e-03 1 -1.1948 1.2208)" class="path" width="193.3" height="193.3"/>

			<rect x="43" y="41.4" transform="matrix(0.7132 -0.7009 0.7009 0.7132 -56.6826 137.4558)" class="path" width="193.3" height="193.3"/>

			<ellipse transform="matrix(0.3827 -0.9239 0.9239 0.3827 -42.6693 214.5132)" class="path" cx="139.2" cy="139.2" rx="138.4" ry="138.4"/>


    </g>
  </svg>
</span>
