<span class="decoration {{ include.class }}">
  <svg version="1.1" viewBox="0 0 261.6 15.5">
    <g
      stroke="{% if include.color %}{{ include.color }}{% else %}#fff{% endif %}"
      stroke-width="{% if include.stroke %}{{ include.stroke }}{% else %}1{% endif %}"
      fill="none">

      <rect class="path" x="100.7" y="1.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 179.6637 -65.4198)" width="5.4" height="5.4"/>
      <rect class="path" x="118.7" y="1.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 210.3579 -78.1337)" width="5.4" height="5.4"/>
      <rect class="path" x="136.7" y="1.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 241.0521 -90.8477)" width="5.4" height="5.4"/>
      <rect class="path" x="154.6" y="1.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 271.7463 -103.5617)" width="5.4" height="5.4"/>

      <line class="path" x1="0" y1="4.5" x2="86.4" y2="4.5"/>
      <line class="path" x1="261.7" y1="4.5" x2="173.3" y2="4.5"/>
    </g>
  </svg>
</span>
