<span class="decoration {{ include.class }}">
  <svg version="1.1" viewBox="0 0 261.6 15.5">
    <g
      stroke="{% if include.color %}{{ include.color }}{% else %}#fff{% endif %}"
      stroke-width="{% if include.stroke %}{{ include.stroke }}{% else %}1{% endif %}"
      fill="none">
      <path class="path" d="M232.4,7.8c0,0-0.1-3,2.9-3.6s6.4,2,5.1,6.6s-9.6,6.8-14.8-0.1c-5.1-6.9-14.1-10.1-29.3-10.1"/>
      <path class="path" d="M243.3,6.8c0,0,1.1-3.4,5.5-1.9s2.3,8.1-1.8,7.5c-2.5-0.5-1.8-2.9-1.2-3.2"/>
      <path class="path" d="M251.3,7.1c0,0,2.9,1.8,5.3,0c2.4-1.8,0.8-5.9-2.3-4.5c-2.6,1.2-1.4,2.9-0.6,3"/>
      <path class="path" d="M29.3,7.8c0,0,0.1-3-2.9-3.6s-6.4,2-5.1,6.6s9.6,6.8,14.8-0.1S50.1,0.5,65.4,0.5"/>
      <path class="path" d="M18.5,6.8c0,0-1.1-3.4-5.5-1.9s-2.3,8.1,1.8,7.5c2.5-0.5,1.8-2.9,1.2-3.2"/>
      <path class="path" d="M10.5,7.1c0,0-2.9,1.8-5.3,0S4.4,1.3,7.5,2.6c2.6,1.2,1.4,2.9,0.6,3"/>
      <line class="path" x1="0" y1="0.5" x2="261.6" y2="0.5"/>
    </g>
  </svg>
</span>
