// the title banner that appears at the top of every page. sometimes animated bgs


.title-banner {
  position: relative;
  overflow: hidden;
  height: 75%;
  text-align: center;
  color: white;
  @include background-attributes;
  &__wrap {
    position: absolute;
    top: $core-nav-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
  }
  &__overlay {
    content: "";
    position: absolute;
    z-index: $z-content;
    top:0;bottom:0;left:0;right:0;
    background-color: $italy-charcoal;
    opacity: 0.25;
  }
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 25vh;
    padding-left: ($margin/2);
    padding-right: ($margin/2);
    .csstransforms.csstransforms3d & {
      top: 50%;
      padding-top: 0;
      transform: translateY(-50%);
    }
  }
  &__cities {
    .csstransforms.csstransforms3d & .title-banner__title { transform: translateY(-30%); }
  }

  &__badge {
    position: absolute;
    top: -100%;
    left: 50%;
    z-index: $z-content-upper;
    width: 140px;
    margin-left: -70px;
    @include bp(large){
      width: 180px;
      margin-left: -90px;
    }

  }

  .page-title {
    margin: 35px 0;
    padding: 0.25em 0 0.1em;
    position: relative;
    display: block;

    &--before,&--after {
      width: 600px;
      height: 35px;
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -300px;
    }
    &--before { top: -45px; }
    &--after {  bottom: -45px; }

    &--sub { display: block; margin-top: 10px; margin-bottom: 20px; }
  }
}