// general typographic styles


// -------- root typography styles --------

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$title-font-family: 'Prata', 'Helvetica Neue', sans-serif;
$subtitle-font-family: 'Oswald', 'Arial Narrow', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 15px/1.628 $main-font-family;
  -webkit-text-size-adjust: 100%;
  @include bp(medium) {
    font-size: 16px;
  }
  color: $paragraph-black;
}


// -------- Headings --------

.title {
  font-family: $title-font-family;
  line-height: 1.15;
  word-break: break-word;
  color: $title-black;
  + *   { margin-top: .75em; }
  * + & { margin-top: .75em; }
  &--margin-none + * { margin-top: 0; }
  &--margin + * { margin-top: 1.5em; }
  * + &--margin-top { margin-top: 3em; }

  &--sub-heading { margin-top: 0 !important; }
  &--sub       {
    font-family: $subtitle-font-family;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &--light     { font-weight: 300; }
  &--bold      { font-weight: 500; }
  &--bolder    { font-weight: 600; }
  &--condense  { letter-spacing: 0; }
  &--expanded  { letter-spacing: .25em; }
  &--tight     { line-height: .9; }
  &--tighter   { line-height: .8; }
  &--upper     { text-transform: uppercase; }
  &--italic    { font-style: italic; }

  &--largest     { font-size: 2.25em; }
  &--larger      { font-size: 2.25em; }
  &--large       { font-size: 2em; }
  &--medium      { font-size: 1.867em; }
  &--small       { font-size: 1.867em; }
  &--smaller     { font-size: 1.867em; }
  &--smallest    { font-size: 1.467em; }
  @include bp(medium){
    &--largest     { font-size: 2.986em; }
    &--larger      { font-size: 2.986em; }
    &--large       { font-size: 2.488em; }
  }
  @include bp(large){
    &--largest     { font-size: 5.16em; }
    &--larger      { font-size: 4em; }
    &--large       { font-size: 3.375em; }
    &--medium      { font-size: 2.488em; }
    &--small       { font-size: 2.2em; }
  }
  @include bp(xxxlarge){
    &--largest     { font-size: 6em; }
    &--larger      { font-size: 4.833em; }
    &--large       { font-size: 3.533em; }
    &--medium      { font-size: 2.9em; }
  }
}

.line-length {
  max-width: $xlarge;
  &--center {
    margin-left: auto;
    margin-right: auto;
  }
}

p {
  max-width: $xlarge;
  font-weight: 300;
  letter-spacing: .015em;
}
.align-center p,
p.align-center { margin-left: auto; margin-right: auto; }

.p {
  &--lead {
    font-size: 1.25em;
    line-height: 1.55;
  }
  &--large { font-size: 1.05em; }
  &--small { font-size: .85em; }

  &--light     { font-weight: 300; }
  &--bold      { font-weight: 500; }
  &--bolder    { font-weight: 600; }
  &--condense  { letter-spacing: 0; }
  &--expanded  { letter-spacing: .1em; }
  &--tight     { line-height: .9; }
  &--tighter   { line-height: .8; }
  &--upper     { text-transform: uppercase; }
  &--italic    { font-style: italic; }
}

// -------- Lists ---------

dl {
  dt { margin-bottom: 5px; }
  dd {}
}

.list {
  &--horizontal {
    list-style: none; padding: 0; margin: 0;
    li {
      display: inline-block; position: relative; padding: 0 1em;
    }
    li + li:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      height: 100%;
      width: 1px;
      background-color: rgba($white,0.1);
      transform: translateY(-50%);
    }
  }
  &--lined {
    li {
      list-style: none;
      padding: 4px 0;
    }
    li + li {
      border-top: 1px solid $black-25;
      .invert-text & { border-top: 1px solid rgba($white,0.1); }
    }
  }
}

// -------- general content styles --------

p + *         { margin-top: 1em; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; font-weight: 400; }
strong        { font-weight: 800; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }
hr {
  border: 0;
  height: 1px;
  background-color: $light-grey;
  margin: 1em 0;
}

