---
layout: default
---

{% include title-banner.html %}

{% include microsite-nav.html %}


{% if page.intro  %}
<section class="section bg--{{ page.class }} invert-text">
  <div class="row row--padding">
    <div class="row align-center">
      {{ page.intro }}
    </div>
  </div>
</section>
{% endif %}


{% assign category-pages = site.pages | where: "category", page.class %}
{% for category-page in category-pages %}
  <section class="harvey section clearfix section--padding-none{% cycle '', ' bg--italy-light-grey' %}">

    <div class="harvey__text align-center">
      <h2 class="align-center title title--medium title--expanded title--light title--upper">
        <a class="a--plain" href="{{ category-page.url }}">
          {{ category-page.title }}
        </a>
      </h2>
      <p class="p--lead">{{ category-page.intro-short | truncate: 200 }}</p>
      <a href="{{ category-page.url }}" class="btn btn--green btn--large">See {{ category-page.title }}</a>
    </div>

    <a href="{{ category-page.url }}" class="harvey__image bg-image bg-image--ratio bg-image--ratio-3-2" style="background-image: url({{site.baseurl}}/img/bg/banner-{{ category-page.class }}.jpg);"></a>

  </section>
{% endfor %}


<!-- OFFERS - FOR CATEGORY -->
<section class="section offers">
  <div class="row row--padding">
    <h2 class="align-center title title--medium title--color title--light title--expanded">{{ page.title }} Offers</h2>
  </div>
  <div class="row row--padding">
    {% assign offers = site.data.offers | where: "category", page.class | sort: 'price' %}
    {% for offer in offers %}
      {% include offer.html %}
    {% endfor %}
  </div>
  <div class="align-center">
    <a href="{{site.baseurl}}/offers" class="btn btn--orange">See All Offers</a>
  </div>
</section>