---
layout: default
---

{% include title-banner.html %}

{% include microsite-nav.html %}


{% if page.intro  %}
<section class="section bg--{{ page.class }} invert-text">
  <div class="row row--padding">
    <div class="row align-center">
      {{ page.intro }}
    </div>
  </div>
</section>
{% endif %}


{% assign destination-pages = site.pages | where: "category", page.class | sort:'destination-order' %}
{% for destination-page in destination-pages %}
  <section class="harvey section clearfix section--padding-none">

    <a id="image_link-destination-{{ destination-page.class }}" href="{{ site.baseurl }}{{ destination-page.url }}" class="harvey__image bg-image bg-image--ratio bg-image--ratio-3-2" style="background-image: url({{site.baseurl}}/img/bg/banner-{{ destination-page.class }}.jpg);"></a>

    <div class="harvey__text align-center">
      <h2 class="align-center title title--medium title--expanded title--light title--upper">
        <a id="title_link-destination-{{ destination-page.class }}" class="a--plain" href="{{ site.baseurl }}{{ destination-page.url }}">
          {{ destination-page.title }}
        </a>
      </h2>
      <p class="p--lead">{{ destination-page.intro-short | truncate: 200 }}</p>
      <a id="button_link-destination-{{ destination-page.class }}" href="{{ site.baseurl }}{{ destination-page.url }}" class="btn btn--green btn--large">See {{ destination-page.title }}</a>
    </div>

  </section>
{% endfor %}


<!-- OFFERS - FOR CATEGORY -->
<section class="section bg--light-grey offers">
  <div class="row row--padding">
    <h2 class="align-center title title--medium title--light title--expanded title--upper">{{ page.title }} Offers</h2>
  </div>
  <div class="row row--padding">
    {% assign offers = site.data.offers | where: "category", page.class | sort: 'price' %}
    {% for offer in offers %}
      {% include offer.html %}
    {% endfor %}
  </div>
  <div class="align-center">
    <a href="{{site.baseurl}}/offers" class="btn btn--orange">See All Offers</a>
  </div>
</section>