---
layout: default
---

{% include title-banner.html %}

{% include microsite-nav.html %}





<section class="section bg--{{ page.category }} invert-text">
  <div class="row row--padding row--columns-8-4-gutters">
    <div class="row__column">
      {{ page.intro }}
    </div>
    <div class="row__column">
      <h5 class="title">Jump to:</h5>
      <ul class="list--lined">
        <li><a href="#highlights" class="p--bolder p--expanded p--small">SIGHTS</a></li>
        <li><a href="#nearby" class="p--bolder p--expanded p--small">NEARBY</a></li>
        <li><a href="#offers" class="p--bolder p--expanded p--small">OFFERS</a></li>
      </ul>
    </div>
  </div>
</section>





<!-- POIs -->

<section class="section decoration__trigger" id="highlights">

  <div class="container container--gutter container--vertical-gutter">

    <div class="row">
      <div class="col col-12 align-center">
        <h2 class="title title--medium title--color title--expanded title--light title--upper">
          {% if page.category == 'cities' %}
            Hidden gems
          {% else %}
            Highlights
          {% endif %}
        </h2>

        {% include decorations/gem.html class="badge badge--highlights" color="rgba(50,47,45,0.15)" stroke="0.2" %}
      </div>
    </div>

    <div class="row">

      {% for poi in page.featured-pois %}

        <div class="col col-xlarge-6 col-large-6">
          <a
            href="javascript:void(0);"
            id="{{ poi.title | slugify }}"
            class="poi bg-image bg-image--xxlarge--ratio-16-9 bg-image--ratio-3-2 invert-text js-open-modal"
            data-modal="poi"
            data-modal-item="{{ poi.class }}"
            style="background-image: url('{{site.baseurl}}/img/content/{{ page.class }}/poi-{{ poi.class }}.jpg');">
            <div class="bg-image__content">
              <h3 class="bg-image__content__title bg-image__content__title-fade title title--sub title--smaller">{{ poi.title }}</h3>
              <span class="bg-image__content__description">
                <span class="title title--sub title--smallest">{{ poi.title }}</span>
                <p>{{ poi.description | truncate:120 }}</p>
              </span>
            </div>
            <div class="bg-image__overlay"></div>
          </a>
        </div>

      {% endfor %}

      {% for poi in page.pois %}

        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if loopindex == 1 %}<div class="col-row">{% endif %}

          <div class="col col-xlarge-4 col-large-6">
            <a
              href="javascript:void(0);"
              id="{{ poi.title | slugify }}"
              class="poi bg-image bg-image--ratio-3-2 invert-text js-open-modal"
              data-modal="poi"
              data-modal-item="{{ poi.class }}"
              style="background-image: url('{{site.baseurl}}/img/content/{{ page.class }}/poi-{{ poi.class }}.jpg');">
              <div class="bg-image__content">
                <h3 class="bg-image__content__title bg-image__content__title-fade title title--sub title--smaller">{{ poi.title }}</h3>
                <span class="bg-image__content__description">
                  <span class="title title--sub">{{ poi.title }}</span>
                  <p>{{ poi.description | truncate:120 }}</p>
                </span>
              </div>
              <div class="bg-image__overlay"></div>
            </a>
          </div>

        {% if loopindex == 0 %}</div>{% endif %}

      {% endfor %}
    </div>
  </div>
</section>




{% if page.category == 'cities' %}

<!-- NEARBY -->
<section class="section bg--italy-light-grey decoration__trigger" id="nearby" style="background-image: url({{ site.baseurl }}/img/bg/background-nearby.jpg);">
  <div class="row row--padding align-center">

    <h2 class="title title--medium title--color title--expanded title--light title--upper">Nearby</h2>
    {% if page.nearby %}
      <p class="p--lead">Though the city can offer so much to explore, there’s plenty to see within a short trip from the centre. Discover more of Italy with our recommendations for top nearby destinations.</p>
    {% else %}
      {% for nearby_page in site.pages %}
      {% if nearby_page.class == page.nearby-page-class %}
        <p class="p--lead">
          {{ page.nearby-page-description }}
        </p>
      {% endif %}
      {% endfor %}
    {% endif %}


  </div>


  {% if page.nearby %}

  {% for nearby in page.nearby %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      <div class="row--thin row--columns-7-5 row--columns-vertical-align nearby" id="{{ nearby.title | slugify }}">

          <div class="row__column row--padding-extra row--padding-vertical">
            <h3 class="title title--sub title--small title--color">{{ nearby.title }}</h3>
            <h4 class="nearby__location">{{ nearby.location }}</h4>
            <p>{{ nearby.description }}</p>
          </div>

          <div class="row__column bg-image--ratio bg-image--ratio-16-9 bg-image--xlarge--ratio-1-1" style="background-image: url('{{site.baseurl}}/img/content/{{ page.class }}/nearby-{{ nearby.class }}.jpg');"></div>

        </div>
      </div>
    {% endfor %}
  {% else %}

    {% for nearby_page in site.pages %}
    {% if nearby_page.class == page.nearby-page-class %}
    <div class="row row--padding">
      <a href="{{ site.baseurl }}{{ nearby_page.url }}" class="nearby-page align-center invert-text bg-image bg-image--ratio-16-9 bg-image--xlarge--ratio-1-3" style="background-image: url({{ site.baseurl }}/img/bg/banner-{{ nearby_page.class }}.jpg);">

        <div class="bg-image__content">
          <div class="row">
            <h1 class="title title--medium title--upper title--expanded">{{ nearby_page.title }}</h1>
            <span class="btn btn--invert">Start exploring</span>
          </div>
        </div>

      </a>
    </div>
    {% endif %}
    {% endfor %}

  {% endif %}

</section>

{% endif %}




<!-- OFFERS - FOR DESTINATION -->
{% assign offers = site.data.offers | where: page.class, true | sort: 'price' %}
{% if offers.size != 0 %}
  <section class="section bg--light-grey border--top decoration__trigger offers offers--center" id="offers">
    <div class="row row--padding align-center">
      <h2 class="title title--medium title--color title--light title--expanded title--upper">{{ page.title }} Offers</h2>
      <p class="p--lead">Discover luxurious places to stay in {{ page.title }} and the surrounding area</p>

      {% include decorations/star.html class="badge badge--highlights" color="rgba(50,47,45,0.15)" stroke="0.4" %}
    </div>
    <div class="row row--padding">
      {% for offer in offers %}
        {% include offer.html %}
      {% endfor %}
    </div>
    <div class="align-center">
      <a href="{{site.baseurl}}/offers" class="btn btn--orange">See All Offers</a>
    </div>
  </section>
{% else %}
  <section class="section offer-promo invert-text align-center">
    <div class="offer-promo__bgs">
      {% assign offers = site.data.offers %}
      {% for offer in offers limit: 3 %}
        <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')"></div>
      {% endfor %}
    </div>
    <div class="row row--padding offer-promo__content">
      <a href="{{site.baseurl}}/offers">
        <h2 class="title title--medium title--light title--expanded title--upper">Wanderlust reeling? <br>Have a look at these...</h2>
        <p class="p--lead">See all of our Secret Escapes Italy offers and expect luxury digs on a shoestring</p>
        <span class="btn btn--orange">See all offers</span>
      </a>
    </div>
  </section>
{% endif %}







<div class="js-modal modal modal--vertical-align is-closed" id="modal-poi">

  <div class="modal__wrap row">
    <div class="modal__content" id="modal__slider">

      {% for poi in page.featured-pois %}
      <div class="slide modal__item modal__item-inactive row row--columns-6-6 row--columns-vertical-align" id="modal__item-{{ poi.class }}">

        <div class="row__column">
          <div class="js-close-modal modal__close"></div>
          <div class="bg-image bg-image--ratio-16-9 bg-image--large--ratio-3-2" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/poi-{{ poi.class }}.jpg');">
            {% if poi.hidden-gem %}{% include decorations/hidden-gem.html class="hidden-gem" stroke="2" %}{% endif %}
          </div>
        </div>

        <div class="row__column modal__item__content">
          <h2 class="title title--small title--bold">{{ poi.title }}</h2>
          <p class="paragraph--small paragraph--upper paragraph--tracking">{{ poi.location }}</p>
          <p>{{ poi.description }}</p>
        </div>

      </div>
      {% endfor %}

      {% for poi in page.pois %}
      <div class="slide modal__item modal__item-inactive row row--columns-6-6 row--columns-vertical-align" id="modal__item-{{ poi.class }}">

        <div class="row__column">
          <div class="js-close-modal modal__close"></div>
          <div class="bg-image bg-image--ratio-16-9 bg-image--large--ratio-3-2" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/poi-{{ poi.class }}.jpg');">
            {% if poi.hidden-gem %}{% include decorations/hidden-gem.html class="hidden-gem" stroke="2" %}{% endif %}
          </div>
        </div>

        <div class="row__column modal__item__content">
          <h2 class="title title--small title--bold">{{ poi.title }}</h2>
          <p class="paragraph--small paragraph--upper paragraph--tracking">{{ poi.location }}</p>
          <p>{{ poi.description }}</p>
        </div>

      </div>
      {% endfor %}

      <!-- MODAL SLIDER NAVIGATION -->
      <div class="modal__slider-nav">
        <a class="modal__slider-previous" id="modal_slider--previous" href="javascript:void(0);">
          <img class="js-svg-swap" width="20" src="{{ site.baseurl }}/img/icons/arrow-left-white.png" alt="<">
        </a>
        <a class="modal__slider-next" id="modal_slider--next" href="javascript:void(0);">
          <img class="js-svg-swap" width="20" src="{{ site.baseurl }}/img/icons/arrow-right-white.png" alt=">">
        </a>
      </div>

    </div>
  </div>
</div>