---
layout: standard
nav-order: 5
title: Offers
class: offers

banner-title: Offers
banner-content:

intro-short: >
  Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.



---



{% assign offers = site.data.offers | sort: 'saved' | reverse %}

<section class="section bg--light-grey" id="offers">
  <div class="row row--padding align-center">
    <h2 class="title title--small title--upper title--expanded">{{ offer-page.title }}</h2>
  </div>
  <div class="row row--padding">
    {% for offer in offers %}
      {% include offer-small.html %}
    {% endfor %}
  </div>
</section>



<section class="section offer-promo">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/03.jpg')"></div>
  </div>
  <div class="row row--padding offer-promo__content align-center invert-text">
    <h2 class="title title--medium title--light title--expanded title--upper">That’s not all we do...</h2>
    <p class="p--lead">Didn’t see anything in Italy to take your fancy? Well, we have loads more offers with savings of up to 70%!</p>
    <a href="https://www.secretescapes.com/current-sales" class="btn btn--orange">See All Current Sales</a>
  </div>
</section>